/*
CSS controls the styling of the page.
You can write a color in directly, or use variables.
Try changing the color from blue to red in the
primary color variable below.
*/

:root {
	--color-primary: blue;
	--color-secondary: #c00;
}

/*
CSS doesn't allow variables to be used in media
queries just yet, but you can use these values
to help you out.

	--size-xs: 320px;
	--size-sm: 480px;
	--size-md: 768px;
	--size-lg: 1024px;
	--size-xl: 1200px;
*/

.content-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	color: black;
	font-family: sans-serif;
	text-transform: lowercase;
}

.show {
	color: plum;
	padding-bottom: 2vh;
	font: italic bold;
	font-family: sans-serif;
	text-transform: lowercase;
}

.hide {
	display: none;
}

#button {
	padding: 2vh;
	color: darkslategray;
	background-color: pink;
	border-color: hotpink;
	border-radius: 10vh;
}


/* This uses the same value as --size-xs. */
@media screen and (width >= 320px) {
	.content-container {
		margin: 0 auto;
		max-width: 768px;
	}
}